[flake8]
exclude =
    .git,
    __pycache__,
    node_modules,
    .venv
ignore =
    # Line too long
    E501
    # too many leading '#' for block comment
    E266
    # module level import not at top of file
    E402
    # line break before binary operater
    W503
    # blank line at end of file
    W391
