
.bash_profile .bashrc .bash_logout bin .gitconfig .gitignore .zlogin .zshrc
.bash_history
.gem
.gemrc
.git
.gnupg
.mkshrc
.oh-my-zsh
.python_history
.rvm
.ssh
.vim
.viminfo
.viminfo.tmp
.vimrc
.zcompdump
.zcompdump-MAPAN-PC-5.0.2
.zsh-update
.zsh_history
.zshrc.pre-oh-my-zsh
sources
