[user]
    name = mapan1984
    email = mapan1984@outlook.com
[core]
    editor = vim
    quotepath = false
    autocrlf = input
    fileMode = false
    excludesfile = /home/mapan/.gitignore_global
[color]
    ui = true
[alias]
    br = branch
    co = checkout
    ci = commit
    d = difftool
    st = status
    ss = stash
    sb = submodule
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    mg = merge --no--ff
    unstage = reset HEAD --
    upstream-merge = !"git fetch origin -v && git fetch upstream -v && git merge upstream/master && git push"
[diff]
    tool = vimdiff
[difftool]
    prompt = false
    trustExitCode = true
[mergetool]
    trustExitCode = true
[http]
	proxy = http://127.0.0.1:1080
[https]
	proxy = https://127.0.0.1:1080
