[user]
	name = mapan1984
	email = mapan1984@outlook.com
[core]
	editor = vim
	quotepath = false
	autocrlf = input
[color]
	ui = true
[alias]
    br = branch
    co = checkout
    ci = commit
    sb = submodule
    st = status
    ss = stash
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    mg = merge --no--ff
    unstage = reset HEAD --
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[mergetool]
	trustExitCode = true
